{% set title = "Ready" %}
{% extends "layout.html" %}
{% block content %}
    {% if warn_message %}
        <p>{{ warn_message }}</p>
    {% endif %}
    <form method="post" action="/start/">
        <input type="number" name="wil" value="10">
        <ol id="stage_selects">
            {% for i, stg in enumerate(tds.stageMap) %}
                <li>{{ stg }}<input type="checkbox" value={{ i }} name="selected-stages"/></li>
            {% endfor %}
        </ol>
        <hr/>
        <div>default weight?<input type="checkbox" name="weight-is-default" checked><input type="number" min="1"
                                                                                           max="100" value="10"
                                                                                           name="weight-default-value"/>
        </div>
        <div>choose weight file
            <select name="selected-weight">
                {% for w in weights %}
                    <option value="{{ w }}">{{ w }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit">
    </form>
{% endblock %}
{% block postscripts %}
    <script src="{{ url_for('static', filename='js/ready.js') }}"></script>
{% endblock %}