{% extends "layout.html" %}

{% block content %}
    <h2 id="question">Question</h2>
    <input id="answer" onkeyup="checkEnter();"/>
    <br>
    <button onclick="next_fresh()" id="submit_next"></button>

    <label for="tanswer_progress">진행도</label>
    <progress id="tanswer_progress" max={{ len(samples) }} value="0"></progress>

    <form method="post" action="/result/" id="form_result">

    </form>
{% endblock %}
{% block postscripts %}
    <script src="{{ url_for('static', filename='js/start.js') }}"></script>
{% endblock %}